.timer-class {
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: flex-start;
}
.resend-passcode {
  margin-left: 0.4rem;
  color: rgb(54, 123, 255);
  cursor: pointer;
}

.timer-active {
  background: #e2ecfe;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.timer-inactive {
  display: flex;
  flex-direction: row;
  background: #ffdbde;
  margin-bottom: 0.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
