.DashboardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.DashBoardHeading {
    flex: 1;
    padding: 1rem;
    font-size: 1.3rem;
}

.UserImg {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.UserName {
    flex: 1;
    padding: 1rem;
    font-weight: 600;
}
